/* Reset de márgenes y paddings globales */
* {
  margin: 0; /* Elimina márgenes por defecto */
  padding: 0; /* Elimina paddings por defecto */
  box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
  
}

/* Aseguramos que el body ocupe toda la pantalla */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;

}


body {
  font-family: Arial, sans-serif; /* Cambia si necesitas otra fuente */
  
}

#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  
}
